/* Instructions. */
#bubble {
  width: 385px;
  padding: 7px;
  border: 1px solid #CCB;
  border-radius: 15px;
  background-color: #ff7;
}
#prompt {
  font-weight: bold;
}

#interstitial {
  color: #000;
  padding: 5px 1em;
  font-size: large;
}

/**
 * Interstitials.
 */
img.answer {
  border:1px solid #000;
  padding: 5px;
}

/* Buttons */
// This differs from common.css.
button {
  margin: 5px;
  margin-right: 12px;
  margin-left: 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #eee;
  font-size: large;
  color: #000;
}
button.launch {
  border: 1px solid #0DA38A;
  background-color: #0DA38A;
  color: #fff;
  min-width: 96px;
  /* Can't use "text-align: start" due to IE. */
  text-align: left;
}
html[dir="RTL"] button.launch {
  text-align: right;
}
button.launch>img {
  opacity: 1;
  vertical-align: text-bottom;
}
button:active {
  border: 1px solid blue !important;
}
button:hover, .buttonHover {
  box-shadow: 2px 2px 5px #888;
}
button>img {
  opacity: 0.6;
}
button.disabled {
  visibility: hidden;
}

/* Block areas */
#toolbarDiv {
  text-align: center;
  width: 400px;
  padding-top: 1em;
}
#display {
  border: 1px solid #ccc;
}

/* Language */
#languageMenu {
  vertical-align: top;
  margin-top: 12px;
}

/* Slider. */
.sliderTrack {
  stroke: #aaa;
  stroke-width: 6px;
  stroke-linecap: round;
}
.sliderKnob {
  fill: #ddd;
  stroke: #bbc;
  stroke-width: 1px;
  stroke-linejoin: round;
}
.sliderKnob:hover {
  fill: #eee;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(icons.png);
}
.code {
 background-position: -42px 0px;
}
.link {
  background-position: -21px 0px;
}
.run {
  background-position: -63px -21px;
  padding-right: 3px;
}
.stop {
  background-position: -63px 0px;
  padding-right: 3px;
}
